@using Vidly_MVCProject.Models
@model List<Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

<p>
    @Html.ActionLink("New Customer", "New", "Customer", new { @class = "btn btn-primary" })
</p>

<table id="customers" class="table table-borderless">
    <thead>
        <tr class="danger">
            <th>Customers</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
            {
                <tr class="bg-warning">
                    <td>
                        <a href="/Customers/Edit/@item.Id">@item.Name</a>
                    </td>
                    <td>
                        @item.MembershipType.Name
                    </td>
                    <td>
                        <button data-customer-id="@item.Id" class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }*@
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}